/* Add this for the booking-container */
.booking-container {

  padding: 20px; /* Add some padding around the content */
  min-height: 100vh; /* Ensure the container takes up the full viewport height */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the form horizontally and vertically */
  position: relative;
}
.booking-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.video-background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Send the video behind other content */
  pointer-events: none; /* Disable interactions with the video */
}

.background-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Disable interactions with the video */
}

.booking-form-container {
  background-color: rgba(255, 255, 255, 0.9); /* Slight transparency for the form container */
  padding: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
}

.booking-form h2 {
  font-size: 1.6rem; /* Adjusted font size */
  margin-bottom: 20px; /* Increased margin for spacing */
  color: #333; /* Keep header text color dark for contrast */
}

.booking-form label {
  display: block;
  margin: 12px 0; /* Increased margin for spacing */
  font-size: 1rem; /* Slightly larger font size */
  color: #333;
}

.booking-form input,
.booking-form textarea {
  width: 100%;
  padding: 12px; /* Increased padding for input fields */
  margin: 8px 0; /* Increased margin for spacing */
  font-size: 1rem; /* Slightly larger font size */
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #000;
  background-color: #fff;
}

.booking-form button {
  background-color: #ff6347;
  color: white;
  padding: 12px 20px; /* Slightly larger padding */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem; /* Larger font size */
  margin-top: 20px;
  transition: background-color 0.3s;
}

.booking-form button:hover {
  background-color: #e55347;
}

.booking-form button:disabled {
  background-color: #ccc; /* Light gray color for disabled state */
  cursor: not-allowed; /* Prevent pointer on disabled button */
}

.confirmation-message {
  font-size: 1.4rem; /* Slightly larger font size */
  color: #4CAF50; /* Green color for confirmation message */
  margin-top: 20px;
}

.error-message {
  font-size: 1rem; /* Standard error font size */
  color: red; /* Red color for error */
  margin-top: 15px;
}
